greenlet==3.0.3
markdown-it-py==3.0.0
mdurl==0.1.2
playwright==1.46.0
psycopg2-binary==2.9.9
pyee==11.1.0
Pygments==2.18.0
rich==13.7.1
SQLAlchemy==2.0.32
typing_extensions==4.12.2
undetected-playwright==0.3.0
